<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Carter+One&display=swap" rel="stylesheet">
</head>

<body class="full-background">
    <h1>Login</h1>
    {% if message %}
    <div class="alert alert-danger" role="alert" id="message">
        {{ message }}
    </div>
    {% endif %}

    <form action="/login" method="post">
        <label for="username" style="display: inline-block;">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password" style="display: inline-block;">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit" class="button-40" role="button">Login</button>
        <!-- <a href="">Forgot Password?</a> -->
        <!-- <input type="submit" value="Login"> -->
    </form>

    <form action="/forgot_password" method="post">
        <button type="submmit" class="button-40" role="button">Forgot Password</a>
    </form>

    <form action="/register" method="get">
        <button type="submit" class="button-40" role="button">Register</button>
    </form>
    <!-- <a href="register.html"><button>Register</button></a> -->
</body>

</html>